{% extends 'base.html' %}

{% block content %}

<div class="row mb-3">
   {% if request.GET.q %}
          <div class="col-12 ">
              Results for <h1> {{request.GET.q}} </h1>
              <hr/>

          </div>

    {% else %}
    <div class="col-12 col-md-8 mx-auto my-3 py-4">
         {% include 'snippets/search_form.html' %}

    </div>
    <div class="col-12">
        <hr>
    </div>
    {% endif %}
</div>

      <div class="row">



        {% for obj in object_list %}
         <div class="col">
            {% include 'snippets/card.html' with instance=obj %}
        </div>
            {% endfor %}
      </div>





{% endblock %}